body {
    padding: 0rem 30rem 7rem 25rem;
}

img {
    width: 60%;
}

.blueHeader {
    color: blue;
}

#mainHeader {
    color: white;
    font-size: 78px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

h4 {
    margin-left: 23rem;
    margin-top: -3.75rem;
    letter-spacing: 0.5px;
}

#text {
    margin-left: 3rem;
    margin-right: -10rem;
}

h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: -1.8rem;
    text-align: center;
}